

@import 'settings.module';

.wrapper {
  // background-color: red;
}

.header {
  background-color: $color-main;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}